.headerContainer {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
}

.calendarIcon {
  width: 44px;
  height: 44px;
  margin-left: 0.75rem;
}

.calendarButton {
  position: absolute;
  top: 0;
  left: calc(50% + clamp(12rem, 35vw, 25rem));
  display: flex;
  align-items: center;
  gap: 0.75rem;
  overflow: visible;
  background: #2C3985;
  color: #fff;
  padding: 0 0 0 0.625rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  cursor: pointer;
  min-height: unset;
  height: auto;
}

.buttonText {
  color: #FFFCDD;
  font-size: clamp(1rem,2vw,1rem);
  font-family: 'Onest', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.calendarCircle {
  background: #2C3985;
  border-radius: 9999px;
  width: clamp(3rem,12vw,3.5rem);
  height: clamp(3rem,12vw,3.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  pointer-events: none;
  margin-top: -0.7rem;
  margin-bottom: -0.7rem;
  margin-left: -0.5rem;
}

.calendarCircle svg {
  display: block;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
} 