.eventsGrid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  column-gap: clamp(1rem, 3vw, 1.5rem);
  row-gap: 92px;
}

.eventsGrid.threeColumns {
  grid-template-columns: repeat(3, 1fr);
}

.eventsGrid > * {
  grid-column: span 1;
}

.eventsGrid .emptyState {
  grid-column: 1 / -1;
}

