@import "tailwindcss";

:root {
  --tsak-blue: #2f3784;
  --tsak-red: #a50729;
  --tsak-light-blue: #85c5ff;
  --tsak-yellow: #fffdc0;
  --tsak-white: #fffdfa;
  --tsak-black: #202020;
  --text-white: #fffcdd;
  --text-black: #000000;
}

@theme inline {
  --color-background: var(--tsak-white);
  --color-foreground: var(--tsak-black);
  --color-tsak-blue: var(--tsak-blue);
  --color-tsak-red: var(--tsak-red);
  --color-highlight: var(--tsak-light-blue);
  --color-secondary: var(--tsak-yellow);
  --color-text-white: var(--text-white);
  --color-text-black: var(--text-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #fffdfa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}