.navbar{
    background-color: #A51D2C;
    position: fixed;
    border-radius: 50px; 
    padding: 8px 16px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
    height: 60px;
    width: 87%;
    max-width: 1240px;
    display: flex;
}

.home_icon{
    width: 42px;
    height: auto;
    border-radius: 50%; 
    object-fit: cover;   
}

.langCh_button{
    display: flex;
    border-radius: 60px; 
    width: 140px;
    height: 36px;
    background-color: #FFFCDD;
    color: #A51D2C;
    align-items: center;
    justify-content: center;
    gap: 6px;
}